h1
{
    color:blue;

    text-align: right ;
}
nav
{
    
    text-align: right;
    border: purple;
    font-style: italic;

}
a.v1
{
    border-style: solid;
    background-color: lightcyan;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 25%;
}
a.v2
{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div
{
    background-image: url(Images/Car-Wallpaper.jpg);
    background-size: cover;

}
header
{
    background-color: lightblue;
}